<div>
  <ul id="navbar">
    <li><a routerLink="/home-component">Home</a></li>
    <li><a routerLink="/shop-component">Shop</a></li>
    <li><a routerLink="">Blog</a></li>
    <li><a routerLink="">About</a></li>
    <li><a routerLink="">Contact</a></li>
    <li id="lg-bag"><a href="cart.html"><i class="fa-solid fa-cart-arrow-down"></i></a></li>
    <a href="#" id="close"><i class="far fa-times"></i></a>
  </ul>
  <div id="mobile">
    <a href="cart.html"><i class="fa-solid fa-cart-arrow-down"></i></a>
    <i id="bar" class="fas fa-outdent"></i>
  </div>
</div>
