<section id="contact-details" class="section-p1">
    <div class="details">
        <span>Thông tin liên lạc</span>
        <h2>Ghé thăm một trong những địa điểm đại lý của chúng tôi liên hệ với chúng tôi ngay hôm nay</h2>
        <h3>Trụ sở chính</h3>
        <div>
            <li>
                <i class="fa-solid fa-map"></i>
                <p> 40 Hàng chung, Hàng trống, Hoàn kiếm, Hà nội</p>
            </li>
            <li>
                <i class="fa-solid fa-envelope"></i>
                <p>Carastudio@gmail.com</p>
            </li>
            <li>
                <i class="fa-solid fa-phone"></i>
                <p> +08 2287 671 /(+91) 01 2345 6789</p>
            </li>
            <li>
                <i class="fa-solid fa-clock"></i>
                <p> 08:00 - 22:00, Mon - Sat</p>
            </li>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.101874193!2d105.8482960007577!3d21.028609385929737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab95119e742f%3A0x533da6640a4b1b7a!2zSMOgbmcgVHLhu5FuZywgSG_DoG4gS2nhur9tLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1658720534773!5m2!1svi!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>