<section id="about-head" class="section-p1">
    <img src="../../assets/image/about/stole.jpg" alt="">
    <div>
        <h2>Chúng tôi là ai ?</h2>
        <p>Cara được ra mắt vào năm 2022 là 1 thương hiệu độc quyền của việt nam và được hợp tác với nhiều các thương hiệu nội thất nổi tiếng để mang đến những sản phẩm vừa cổ kính và hiện đại đến với mọi người và mục tiêu của cara nhằm giúp đỡ tất cả mọi
            người và tất cả gia đình trong việc thiết kế và lựa chọn nội thất cara</p>
        <abbr>Cảm ơn tất cả mọi người đã luôn tin tưởng và lựa chọn cara để thiết kế nội thất và chúng tôi sẽ tiếp tục cố gắng để đáp ứng tất cả sự tin tưởng của mọi người</abbr>
    </div>
</section>