<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Đồ Nội Thất Cara</title>
  <link rel="icon" href="../assets/image/title.jpg" type="">
  <script src="https://kit.fontawesome.com/8cd89348d9.js" crossorigin="anonymous"></script>
</head>
<body>
<section id="header">
  <app-logo></app-logo>
  <header-block></header-block>
</section>
<router-outlet></router-outlet>
<script src="js/script.js"></script>
<script src="https://code.jquery.com/jquery-latest.js"></script>
</body>
</html>
