<section id="product1" class="section-p1">
  <h2>Nội Thất Cara</h2>
  <p>Các Mẫu Bàn Làm Việc Và Bàn Ăn Bán Chạy</p>
  <div class="pro-container">
    <div class="pro" onclick="window.location.href='product1.html';">
      <img src="../assets/image/product/ban1.jpg" alt="">
      <div class="des">
        <span>BÀN ĂN GỖ ME TÂY</span>
        <h5>Chất Liệu: Gỗ Me Tây</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>GIÁ : 9.040.000 VNĐ</h4>
      </div>
      <a href="cart.html"><i class="fa-solid fa-cart-arrow-down"></i></a>
    </div>
    <div class="pro" onclick="window.location.href='product2.html';">
      <img src="../assets/image/product/ban2.jpg" alt="">
      <div class="des">
        <span>BÀN LÀM VIỆC CHÂN CHỮ A</span>
        <h5>Chất liệu : Chân sắt sơn tích điện, mặt bàn gỗ công</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>GIÁ :1.490.000 VNĐ</h4>
      </div>
      <a href="cart.html"><i class="fa-solid fa-cart-arrow-down"></i></a>
    </div>
    <div class="pro" onclick="window.location.href='product3.html';">
      <img src="../assets/image/product/ban3.png" alt="">
      <div class="des">
        <span>BỘ BÀN GHẾ GÔ 1 BÀN 8 GHẾ</span>
        <h5>Chất liệu : Gỗ óc chó, đệm vải nỉ</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>GIÁ : 31.900.000 VNĐ</h4>
      </div>
      <a href="cart.html"><i class="fa-solid fa-cart-arrow-down"></i></a>
    </div>
    <div class="pro" onclick="window.location.href='product4.html';">
      <img src="../assets/image/product/ban4.jpg" alt="">
      <div class="des">
        <span>BÀN LÀM VIỆC CHỮ X</span>
        <h5>Chất liệu : Chân sắt sơn tích điện, mặt bàn gỗ công</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>GIÁ : 1.399.000 VNĐ</h4>
      </div>
      <a href="cart.html"><i class="fa-solid fa-cart-arrow-down"></i></a>
    </div>
    <div class="pro" onclick="window.location.href='product5.html';">
      <img src="../assets/image/product/ban5.jpg" alt="">
      <div class="des">
        <span>BÀN LÀM VIỆC CHÂN SẮT CHÉO</span>
        <h5>Chất liệu : Chân sắt sơn tích điện, mặt bàn gỗ công</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>GIÁ : 1.500.000 VNĐ</h4>
      </div>
      <a href="cart.html"><i class="fa-solid fa-cart-arrow-down"></i></a>
    </div>
    <div class="pro" onclick="window.location.href='product6.html';">
      <img src="../assets/image/product/ban6.jpg" alt="">
      <div class="des">
        <span>BÀN LÀM VIỆC CHÂN CHỮ V</span>
        <h5>Chất liệu : Chân sắt sơn tích điện, mặt bàn gỗ công</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>GIÁ : 1.400.000 VNĐ</h4>
      </div>
      <a href="cart.html"><i class="fa-solid fa-cart-arrow-down"></i></a>
    </div>
    <div class="pro" onclick="window.location.href='product7.html';">
      <img src="../assets/image/product/ban7.jpg" alt="">
      <div class="des">
        <span>BÀN LÀM VIỆC CHÂN SẮT ĐƠN</span>
        <h5>Chất liệu : Chân sắt sơn tích điện, mặt bàn gỗ công</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>GIÁ : 1.290.000 VNĐ</h4>
      </div>
      <a href="cart.html"><i class="fa-solid fa-cart-arrow-down"></i></a>
    </div>
    <div class="pro" onclick="window.location.href='product8.html';">
      <img src="../assets/image/product/ban8.jpg" alt="">
      <div class="des">
        <span>BÀN LÀM VIỆC KẸP KỆ ĐỒ</span>
        <h5>Chất liệu : Chân sắt sơn tích điện, mặt bàn gỗ công</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>GIÁ : 1.850.000 VNĐ</h4>
      </div>
      <a href="cart.html"><i class="fa-solid fa-cart-arrow-down"></i></a>
    </div>
  </div>
</section>
