<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro" onclick="window.location.href='product1.html';">
            <img src="image/product/ban1.jpg" alt="">
            <div class="des">
                <span>BÀN ĂN GỖ ME TÂY</span>
                <h5>Chất liệu : Gỗ me tây</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>GIÁ : 9.040.000 VNĐ</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='product2.html';">
            <img src="image/product/ban2.jpg" alt="">
            <div class="des">
                <span>BÀN LÀM VIỆC CHÂN CHỮ A</span>
                <h5>Chất liệu : Chân sắt sơn tích điện, mặt bàn gỗ công</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>GIÁ :1.490.000 VNĐ</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='product3.html';">
            <img src="image/product/ban3.png" alt="">
            <div class="des">
                <span>BỘ BÀN GHẾ GÔ 1 BÀN 8 GHẾ</span>
                <h5>Chất liệu : Gỗ óc chó, đệm vải nỉ</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>GIÁ : 31.900.000 VNĐ</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='product4.html';">
            <img src="image/product/ban4.jpg" alt="">
            <div class="des">
                <span>BÀN LÀM VIỆC CHỮ X</span>
                <h5>Chất liệu : Chân sắt sơn tích điện, mặt bàn gỗ công</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>GIÁ : 1.399.000 VNĐ</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='product5.html';">
            <img src="image/product/ban5.jpg" alt="">
            <div class="des">
                <span>BÀN LÀM VIỆC CHÂN SẮT CHÉO</span>
                <h5>Chất liệu : Chân sắt sơn tích điện, mặt bàn gỗ công</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>GIÁ : 1.500.000 VNĐ</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='product6.html';">
            <img src="image/product/ban6.jpg" alt="">
            <div class="des">
                <span>BÀN LÀM VIỆC CHÂN CHỮ V</span>
                <h5>Chất liệu : Chân sắt sơn tích điện, mặt bàn gỗ công</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>GIÁ : 1.400.000 VNĐ</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='product7.html';">
            <img src="image/product/ban7.jpg" alt="">
            <div class="des">
                <span>BÀN LÀM VIỆC CHÂN SẮT ĐƠN</span>
                <h5>Chất liệu : Chân sắt sơn tích điện, mặt bàn gỗ công</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>GIÁ : 1.290.000 VNĐ</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='product8.html';">
            <img src="image/product/ban8.jpg" alt="">
            <div class="des">
                <span>BÀN LÀM VIỆC KẸP KỆ ĐỒ</span>
                <h5>Chất liệu : Chân sắt sơn tích điện, mặt bàn gỗ công</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>GIÁ : 1.850.000 VNĐ</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='product9.html';">
            <img src="image/product/ghe1.png" alt="">
            <div class="des">
                <span>ALGARD 3 SEATER-R3</span>
                <h5>Chất liệu : Gỗ sồi, đệm bọc vải nỉ</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>GIÁ : 26.350.000 VNĐ</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='product10.html';">
            <img src="image/product/ghe2.png" alt="">
            <div class="des">
                <span>BlOW CHAIR</span>
                <h5>Chất liệu : Gỗ sồi, đệm bọc vải nỉ</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>GIÁ : 9.806.000 VNĐ</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='product11.html';">
            <img src="image/product/ghe3.jpg" alt="">
            <div class="des">
                <span>KENNEDY CHAIR (G015)</span>
                <h5>Chất liệu : Gỗ sồi, đệm simili</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>GIÁ : 2.950.000 VNĐ</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='product12.html';">
            <img src="image/product/ghe4.jpg" alt="">
            <div class="des">
                <span>GHẾ NHỰA TOÀN BỘ</span>
                <h5>Chất liệu : Nhựa</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>GIÁ : 750.000 VNĐ</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='product13.html';">
            <img src="image/product/ghe5.jpg" alt="">
            <div class="des">
                <span>MAX CHAIR OPEN</span>
                <h5>Chất liệu : Gỗ sồi, đệm bọc vải nỉ</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>GIÁ : 29.890.000 VNĐ</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='product14.html';">
            <img src="image/product/ghe6.jpg" alt="">
            <div class="des">
                <span>CIRCLE CHAIR</span>
                <h5>Chất liệu : Gỗ sồi, đệm bọc vải nỉ</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>GIÁ : 10.490.000 VNĐ</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='product15.html';">
            <img src="image/product/ghe7.jpg" alt="">
            <div class="des">
                <span>FENWick CHAIR</span>
                <h5>Chất liệu : Gỗ sồi, đệm simili</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>GIÁ : 5.850.000 VNĐ</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='product16.html';">
            <img src="image/product/ghe8.png" alt="">
            <div class="des">
                <span>GRECO 2.5 SEATERS</span>
                <h5>Chất liệu : Gỗ sồi, đệm bọc vải nỉ</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>GIÁ : 19.990.000 VNĐ</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
    </div>
</section>