<section id="form-details">
    <form action="">
        <span>Để lại thông tin</span>
        <h2>Cara sẽ liên lạc với bạn</h2>
        <input type="text" placeholder="Your name">
        <input type="text" placeholder="E-mail">
        <input type="text" placeholder="Subject">
        <textarea name="" id="" cols="30" rows="10" placeholder="Your message"></textarea>
        <button class="normal">Submit</button>
    </form>

    <div class="creators">
        <div>
            <img src="../../assets/image/contact/creators1.webp">
            <p><span>Thắng</span>Junior Developer <br> Phone: +0123 456 789 <br> Email: Carastudio@gmail.com</p>
        </div>
        <div>
            <img src="../../assets/image/contact/creators1.webp">
            <p><span>Quyền</span>Junior Developer <br> Phone: +0123 456 789 <br> Email: Carastudio@gmail.com</p>
        </div>
    </div>
</section>